<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.danielburgnerjr.appume2019">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_appume"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- Splash screen -->
        <activity
            android:name="com.danielburgnerjr.appume2019.AppumeSplash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.danielburgnerjr.appume2019.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/ListViewStyle" >
        </activity>
        <activity
            android:name="com.danielburgnerjr.appume2019.ListActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="com.danielburgnerjr.appume2019.DetailActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="com.danielburgnerjr.appume2019.ClickListActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="com.danielburgnerjr.appume2019.ExperienceActivity"
            android:parentActivityName=".ClickListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="com.danielburgnerjr.appume2019.AndroidProjectsActivity"
            android:parentActivityName=".ClickListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity
            android:name="com.danielburgnerjr.appume2019.RecommendationActivity"
            android:parentActivityName=".ClickListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppBaseTheme" >
        </activity>
        <activity android:name="com.danielburgnerjr.appume2019.ContactMeActivity"
            android:parentActivityName=".ClickListActivity">
        </activity>
    </application>
    <uses-permission android:name="android.permission.CALL_PHONE" />
</manifest>